definitions:
  dto.CreateUserRequest:
    properties:
      age:
        type: integer
      email:
        type: string
      firstName:
        maxLength: 50
        minLength: 2
        type: string
      lastName:
        maxLength: 50
        minLength: 2
        type: string
      phone:
        type: string
      status:
        allOf:
        - $ref: '#/definitions/model.Status'
        enum:
        - Active
        - Inactive
    required:
    - email
    - firstName
    - lastName
    - phone
    type: object
  dto.UpdateUserRequest:
    properties:
      age:
        type: integer
      email:
        type: string
      firstName:
        maxLength: 50
        minLength: 2
        type: string
      lastName:
        maxLength: 50
        minLength: 2
        type: string
      phone:
        type: string
      status:
        allOf:
        - $ref: '#/definitions/model.Status'
        enum:
        - Active
        - Inactive
    type: object
  model.Status:
    enum:
    - Active
    - Inactive
    type: string
    x-enum-varnames:
    - StatusActive
    - StatusInactive
  model.User:
    properties:
      age:
        type: integer
      email:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      phone:
        type: string
      status:
        $ref: '#/definitions/model.Status'
      userId:
        type: string
    type: object
info:
  contact: {}
paths:
  /users:
    get:
      description: Get a list of all users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.User'
            type: array
        "500":
          description: Failed to Retrieve Users
          schema:
            type: string
      summary: Retrieve all users
      tags:
      - Users
    post:
      consumes:
      - application/json
      description: Create a new user with the input payload
      parameters:
      - description: User payload
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Invalid Request Body
          schema:
            type: string
        "500":
          description: Failed to Create User
          schema:
            type: string
      summary: Create a new user
      tags:
      - Users
  /users/{id}:
    delete:
      description: Delete a user by UUID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Invalid User Id
          schema:
            type: string
        "404":
          description: User Not Found
          schema:
            type: string
        "500":
          description: Failed to Delete User
          schema:
            type: string
      summary: Delete a user
      tags:
      - Users
    get:
      description: Retrieve a user by their UUID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.User'
        "400":
          description: Invalid User Id
          schema:
            type: string
        "404":
          description: User Not Found
          schema:
            type: string
        "500":
          description: Failed to Retrieve User
          schema:
            type: string
      summary: Get user by ID
      tags:
      - Users
    patch:
      consumes:
      - application/json
      description: Update a user's information by UUID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: User update payload
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Invalid Request Body or User Id
          schema:
            type: string
        "404":
          description: User Not Found
          schema:
            type: string
        "500":
          description: Failed to Update User
          schema:
            type: string
      summary: Update a user
      tags:
      - Users
swagger: "2.0"
